# Ignore eveything so repository can be used in game instance
/*

# Add directories with soure code
!config/
!defaultconfigs/
!kubejs/
!mods/panorama/
!packmode/
!panoramas/
!scripts/
!compile_data/
!.github/

# Add files in main directory
!.gitattributes
!.gitignore
!LICENSE
!packmode_picker.bat
!packmode_picker.sh
!packmode_picker.py
!panorama.dat
!README.md

# Specific exclusion
config/embeddium-fingerprint.json
config/embeddium-options.json
config/embeddium++.toml
config/fml.toml
config/oculus.properties
config/emi.css

config/jei/*
config/worldedit/

config/badmobs-common.toml
config/extendedcrafting-common.toml
config/mysticaladaptations-common.toml
config/mysticalagradditions-common.toml
config/mysticalagriculture-common.toml
config/sgjourney-common.toml
config/defaultworldtype/client-config.toml
config/skyblockbuilder/data/dimensions.txt
config/create_hypertube-client.toml
config/betterfpsdist.json
config/chloride-client.json
config/craftingtweaks-common.toml
config/cucumber-tags.json
config/fastsuite.cfg
config/ftbbackups2.json
config/gtceu.yaml
config/guideme.toml
config/immersive_optimization.json
config/megacells.json
config/modernfix-mixins.properties
config/packetfixer.properties
config/pccard-client.toml
config/pccard-common.toml
config/ponder-client.toml
config/sidebar_buttons.json
config/skyguis.json5
config/ae2/common.json
config/de/mari_023/ae2wtlib.json5
config/fancymenu/legacy_checklist.txt
config/fancymenu/options.txt
config/fancymenu/user_variables.db
config/hammerlib/tags/modded/solarflux.json
config/fancymenu/ui_themes/dark.json
config/fancymenu/ui_themes/light.json
config/konkrete/locals/de_de.local
config/konkrete/locals/en_us.local
config/konkrete/locals/pl_pl.local
config/konkrete/locals/pt_br.local
config/skyblockbuilder/data/*
